<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="search" *ngIf="(posts.length > 0 && !isLoading)">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="term" placeholder="Search Here">
  </mat-form-field>
</div>

<mat-accordion multi="true" *ngIf="(posts.length > 0 && !isLoading)">

  <mat-expansion-panel *ngFor="let resume of posts | filter:term">

    <mat-expansion-panel-header>
      <strong>{{ resume.filename }}</strong>
    </mat-expansion-panel-header>

    <p><strong>Cadidate Name:&nbsp;</strong> {{ resume.name }}</p>

    <p><strong>Email ID:&nbsp; </strong>{{ resume.email }}</p>

    <p><strong>Contact Number:&nbsp; </strong>{{ resume.phonenumber }}</p>

    <p><strong>LinkedIn Profile:&nbsp; </strong>{{ resume.linkedin }}</p>

    <p><strong>Education:&nbsp; </strong>{{ resume.education }}</p>

    <p><strong>Skills:&nbsp; </strong>{{ resume.skills }}</p>

    <p><strong>Languages Known:&nbsp; </strong>{{ resume.languages }}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', resume.id]">EDIT</a>
      <button mat-button color="accent" (click)="onDownload(resume.id)">DOWNLOAD</button>
      <button mat-button color="warn" (click)="onDelete(resume.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<!-- <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator> -->

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Resumes added yet!</p>